In [1]:
import pandas as pd
import sweetviz

In [23]:
data = pd.read_csv('../../datasets/titanic.csv')

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,NaN,S

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     1309 non-null   int64
 2   Pclass       1309 non-null   object
 3   Name         1309 non-null   object
 4   Sex          1223 non-null   object
 5   Age          1132 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   object
 8   Ticket       1308 non-null   object
 9   Fare         982 non-null    object
 10  Cabin        622 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(1), int64(3), object(8)
memory usage: 122.8+ KB

In [12]:
feature_config = sweetviz.FeatureConfig(skip="PassengerId", force_text=["Age"])
my_report = sweetviz.analyze([data,"Data"],feat_cfg=feature_config)

:FEATURES DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [13]:
my_report.show_html('report.html')

Report report.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.

In [25]:
data.Survived = data.Survived.astype(bool)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     1309 non-null   bool
 2   Pclass       1309 non-null   object
 3   Name         1309 non-null   object
 4   Sex          1223 non-null   object
 5   Age          1132 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   object
 8   Ticket       1308 non-null   object
 9   Fare         982 non-null    object
 10  Cabin        622 non-null    object
 11  Embarked     889 non-null    object
dtypes: bool(1), float64(1), int64(2), object(8)
memory usage: 113.9+ KB

In [26]:
my_report_with_target = sweetviz.analyze([data,"Data"],target_feat='Survived')

                                   |                         | [  0%]   00:00  -> (? left)
Summarizing dataframe:             |                         | [  0%]   00:00  -> (? left)
:TARGET::                          |█▌                   | [  8%]   00:00  -> (00:00 left)
:TARGET::                          |███▏                 | [ 15%]   00:00  -> (00:00 left)
:TARGET::                          |███▏                 | [ 15%]   02:16  -> (12:29 left)

:PassengerId:                      |████▊                | [ 23%]   00:00  -> (00:02 left)
:Pclass:                           |████▊                | [ 23%]   00:00  -> (00:02 left)
:Name:                             |██████▍              | [ 31%]   00:00  -> (00:02 left)
:Sex:                              |████████             | [ 38%]   00:00  -> (00:02 left)
:Sex:                              |█████████▋           | [ 46%]   00:01  -> (00:01 left)
:Age:                              |█████████▋           | [ 46%]   00:01  -> (00:01 left)
:Age:                              |███████████▎         | [ 54%]   00:01  -> (00:01 left)
:SibSp:                            |███████████▎         | [ 54%]   00:01  -> (00:01 left)
:SibSp:                            |████████████▉        | [ 62%]   00:01  -> (00:01 left)
:Parch:                            |████████████▉        | [ 62%]   00:01  -> (00:01 left)
:Ticket:                           |██████████████▌      | [ 69%]   00:01  -> (00:01 left)
:Fare:                             |████████████████▏    | [ 77%]   00:01  -> (00:00 left)
:Cabin:                            |█████████████████▊   | [ 85%]   00:01  -> (00:00 left)
:Embarked:                         |███████████████████▍ | [ 92%]   00:01  -> (00:00 left)
:Embarked:                         |█████████████████████| [100%]   00:02  -> (00:00 left)
:FEATURES DONE:                    |█████████████████████| [100%]   00:02  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [27]:
my_report.show_html('my_report_with_target.html')

Report my_report_with_target.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.